*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box !important;
}
body{ text-align: center; background-color: #E3D8D6; overflow-x: hidden; }
section{ width: 100%;align-items: center;justify-content: center; }
textarea { resize: none; }

/* ***** LETRAS ***** */
p{ font-family: 'Suez One', serif; }
span{ font-family: 'Lobster', cursive; }
h1{ color: #FFFFFF;font-size: 60px;font-family: 'Lobster', cursive; }
h2{ font-family: 'Lobster', cursive;font-size: 40px; }
h3{ font-family: 'Lobster', cursive; }
h4{ font-size: 18px;font-family: 'Suez One', serif; }
a{ font-family: 'Suez One', serif; text-decoration: none; }

/* ***** HEADER MENU ***** */
.heade{
    width: 100%;
    top: 0;
    height: 60px;
    justify-content: center;
    display: flex; }
.menu{ text-align: center;width: 100%; }
.menu ul{ padding: 0; }
.menu ul li{ list-style: none; display: inline-block; }
.menu ul li a{ text-decoration: none; font-weight: bold;
    padding: 0 10px;display: block; line-height: 60px; color: brown;}
.menu ul li a:hover{color: gray; transition: all .2s;}
.head{
    width: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;}
.head a{ text-align: center; margin: 10px; }
.head a img{ width: 15%; }
.head i{ font-size: 25px; margin: 10px; }

.logo-head{ width: 40%; text-decoration: none; background-color: black; text-align: center;}
.logo-head a{ font-size: 20px; color: #eee;}
.logo-head img{ width: 20%; }

.logo{ height: 45; background-color: black; margin-bottom: 10%;}
.logo a{ text-align: center; color: #eee;}
.logo a img{ width: 15%; }

/* ***** IMAGEN CON TEXTO CENTRADO ***** */
.head-img img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: bottom; 
    display: inline-block;
    text-align: center; 
    z-index: 2;} 

/* ***** HEADER BOTON ***** */
.si{ font-size: 30px; margin: 50px 20px 0px 0px; }
.ai{
    font-family: 'Suez One', serif;
    font-size: 20px;
    color: brown;
    /* background-color: white; */
    text-decoration: none;
    /* padding: 15px; */
    /* border-radius: 5px; */
    text-decoration: none; font-weight: bold;text-decoration: none; font-weight: bold;
    border: none; }
.ai:hover{ color: #030302; }
i:hover{ color: #030302; }

/* ***** HEADER RESPONSIVE ***** */
.thow{ height: 300px !important; }
.icon-menu{
    display: none; 
    margin-left: auto;
    font-family: 'Catamaran', sans-serif; 
    color: brown;
    margin-right: 10px;
    line-height: 60px; 
    font-size: 25px; 
    cursor: pointer;
}
@media screen and (max-width: 800px){
    .icon-menu{
        display: block;
    }
    #menu{
        position: absolute; 
        top: 60px;
        left: 0; 
        width: 100%;
        height: 0; 
        border: 1px solid #eee;
        overflow: hidden; 
        transition: .3s ease-out;
        z-index: 2;
    }
    #menu ul li{
        display: block; 
        text-align: center;
    }
    #menu ul li a{
        color: brow; 
        font-size: 15px;
        background-color: white; 
        width: 100%;
    }
    #menu ul li a:hover{
        color: #030302;
        background: rgb(236, 152, 96);
    }
}

/* ***** BOTON ***** */
.boton1{
    font-family: 'Suez One', serif;
    font-size: 18px;
    color: white;
    background-color: brown;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: none; }

.boton1:hover{background-color: #FAAC58;}

/* ***** INICIO ***** */
.imag img{ height: 500px; position: relative;width: 100%; }
#imag{ height: 300px; }

/* ***** NOSOTROS ***** */
.pbordes{ border: 4px dashed black; }
.seccion1{ padding-top: 0; }
.seccion1 p{ margin: 10%; }
.sec1{ width: 50%; }
.sec1 img{ width: 50%; border-radius: 50%;box-shadow: 0 0 8px 8px rgba(0,0,0,0.5); }
.sec2 { width: 50%;}
.caja img {  height: 250px; }

/* ***** NUESTRAS DELICIAS ***** */
.seccion2 {align-items: center;justify-content: center;align-content: center;}
.seccion2 img{border-radius: 50%;box-shadow: 0 0 8px 8px rgba(0,0,0,0.5)}
.seccion2 h4{margin-top: 20px;}

/* ***** ESPECIALIDADES ***** */
.seccion3{ display: flex; }
.seccion3 img{width: 80%;box-shadow: -8px -8px 8px rgba(0,0,0,0.5);}

.bloc1{width: 100%;}
.bloc2 p{margin: 20px 50px 20px 50px;}
.bloc3{width: 100%;}
.bloc4 p{margin: 20px 50px 20px 50px;}

/* ***** MAPA ***** */
.seccion4{width: 100%;box-shadow: 0 0 8px 8px rgba(0,0,0,0.5);}

/* ***** RESPOSIVE INICIO ***** */
@media screen and (max-width: 760px){
    .seccion3{ width: 100%;flex-wrap: wrap; }
    .bloc1{ width: 100%;margin: 0 0 20px; }
    .bloc3{ width: 100%; }
}

@media screen and (max-width:760px){
    .seccion1{ flex-wrap: wrap; }
    .seccion1 img{ width: 100%; }
    .sec2{ width: 100%;text-align: center; }
}

/* ***** FOOTER ***** */
footer img{width: 15%;}
footer li{list-style: none;}
footer li a{ text-decoration: none; color: #eee;}
footer img:hover{transform:scale(1.2)}

/* ***** PAG NOSOTROS ***** */
.caja{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .caja img{ justify-content: center; } */
@media screen and (max-width:760px){
    .contener{width: 100%;flex-direction: column;}
    .caja {width: 100%;height: auto;flex-direction: column;}
    .caja img{
        width: 80%;
        /* height: auto; */
        height: 300px;
        flex-direction: column;
    }
    #im1 {order: 1;}
    #bl1{order: 2;}
    #bl2{order: 4;}
    #im2{order: 3;} }

/***************Especial-Pasteles****************/
.bloque1 {width: 50%;}
.bloque1 img{width: 80%;}
.bloque2 {width: 50%;}

.sect1 {width: 100%;height: 300%}
.sec2 img{height: 500%;}

@media screen and (max-width:760px){
    .sect1{flex-wrap: wrap;}
    .bloque1 {width: 100%; margin-bottom: 20px;}
    .bloque2 {width: 100%;} }

/**************FORMULARIO***************/
form p{color: white;}

.s img{ height: 300px; }

@media (max-width: 460px) {
    .imgg {width: 310px;} }

@media (max-width: 460px) {
    .imgg1 { width: 100%; }
    .factu { width: 100%; } }

.imgg{ border: 0; }
.imgg1{ margin-bottom: 40px; }

/* PAGO */
select{width: 100%;height: 50px;}
.factu input{width: 100%;height: 50px;}
b{color: red;}
.check input{margin-right: 20px;}
/* ******************************************* */
/* ***** TIENDA ***** */
/* .filtro button{ margin-bottom: 10%;} */
/* a{
    cursor: pointer;
}*/
/* .modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
} */
.img-carrito{
    width:200px;
    padding:20px;
} 
/* .modal-content{
    background-color: #E3D8D6;
} */
.cancontenedor{
    display:flex;
    align-items: center;
    gap:2rem;
}
.imagen{
    max-width:100%;
}

a{
    cursor:pointer;
}
.alerta{
    font-weight:700;
}
.boton{
    opacity:0;
}
#mostrar{
    z-index:1;
}
.btnflotante{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 20px;
    right: 20px;
    background-color: #E3D8D6;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.8);
    z-index:2;
}
.btnflotante2{
    border-radius: 50px;
    bottom: 50px;
    left: 20px;
    font-size: 30px;
    line-height: 55px;
    bottom: 20px;
    /* padding: 10px 0 0; */
    box-shadow: 0px 1px 10px rgba(0,0,0,0.8);
    /* background-color: #2bb92b; */
    background-color: #38e038;
    position: fixed;
    text-align: center;
    height: 55px;
    width: 55px;
    z-index: 2;
}
.btnflotante2 img{ width: 50px; height: 50px; }
.btnflotante2:hover{ background-color: #92f392; }
.fincoinputs{
    box-shadow: 0 0 6px 1px #ff0000;
}
/* CONTACTO */
.icono{width: 110px;padding: 0%;font-size: 50px;
    background-color: #E3D8D6;border: 0px;margin-bottom: 25px;}
.p-incorrecto{color: red;margin: 0%;font-size: 12px;}
.p-correcto{color: green;margin: 0%;font-size: 12px;}
.fcoinput input{box-shadow: 0 0 6px 1px #008000;}
.fincoinput input{box-shadow: 0 0 6px 1px #ff0000;}
.fcoinput textarea{box-shadow: 0 0 6px 1px #008000;}
.fincoinput textarea{box-shadow: 0 0 6px 1px #ff0000;}
.w p{height: 30px; margin: 0%;display: flex;
    justify-content: center;align-items: center;}
#formu i{ color: brown; }
